ul.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px auto;
    li.page-item {
        display: inline-block;
        &:first-child {
            a.page-link,
            span.current {
                border-radius: 3px 0 0 3px;
            }
        }
        &:last-child {
            a.page-link,
            span.current {
                border-radius: 0 3px 3px 0;
            }
        }
        a.page-link,
        span.current {
            display: inline-block;
            padding: 10px 15px;
            font-size: 16px;
            line-height: 1;
            color: #fff;
            transition: all 0.3s ease-in-out;
            border: 1px solid #fff;
        }
        a.page-link {
            &:hover {
                background-color: $paginationLinkOnHover;
                color: $paginationLinkOnHoverText;
                border-color: transparent;
            }
        }
        span.current {
            color: $paginationActiveLinkText;
            background-color: $paginationActiveLink;
            border-color: transparent;
        }
    }
}
